.login-container {
    height: 100vh;
    background: #f5f5f5;
    .login-card {
        width: 360px;
        .title {
            text-align: center;
            margin-bottom: 24px;
        }
    }
}