services:
  finlog-fe:
    build: .
    container_name: finlog-fe
    restart: always
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=dev
