.expenses-table-container {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    .ant-table-container {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
    }
    .ant-table-wrapper {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        .ant-spin-nested-loading {
            flex: 1;
            min-height: 0;
            display: flex;
            flex-direction: column;
            .ant-spin-container {
                flex: 1;
                min-height: 0;
                display: flex;
                flex-direction: column;
                .ant-table {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .ant-table-header {
                        overflow: visible!important;
                    }
                }
            }
        }
    }
}
