.tags-container {
    min-height: 38px;
    @media (max-width: 440px) {
        min-height: 152px;
    }
    .spin-container {
        width: 100%;
    }
    .tag {
        padding: 4px 8px;
        font-size: 16px;
        cursor: pointer;
    }
}