.main-layout {
    .header {
        height: 64px;
        line-height: 64px;
        background-color: #4096ff;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .headerContainer {
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            width: 64px;
        }
        .headerCenter {
            color: white;
            font-size: 20px;
        }
    }

    .sidebar {
        position: fixed;
        height: 100%;
        text-align: center;
        line-height: 120px;
        width: 160px!important;
        max-width: 160px!important;
        min-width: 160px!important;
        color: #fff;
        background-color: #1677ff;
        transform: translateX(-160px);
        transition: transform 0.2s ease;
        z-index: 1000;
        &.isOpened {
            transform: translateX(0);
        }
        .menuItem {
            height: 64px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active {
                background-color: #0960d9;
            }
        }
    }

    .content {
        height: calc(100vh - 64px);
        background-color: #f5f5f5;
        overflow: auto;
    }
}
