.main-layout {
    .header {
        height: 64px;
        background-color: #f5f5f5;
        padding: 0;
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(219, 219, 211);
        .headerContainer {
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            width: 64px;
            color: white;
            font-size: 20px;
        }
        .headerCenter {
            font-size: 24px;
        }
    }

    .sidebar-container {
        position: relative;
        .sidebar-background {
            position: fixed;
            inset: 0;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
            min-width: 100% !important;
            max-width: 100% !important;
            width: 100% !important;
            height: 100% !important;
            z-index: 9999;
            opacity: 0;
            transition: all 225ms cubic-bezier(0, 0, 0.2, 1);
            pointer-events: none;
            display: flex;
            &.isOpened {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .sidebar {
            position: fixed;
            display: flex;
            flex-direction: column;
            background-color: white;
            height: 100%;
            width: 80vw;
            transform: translateX(-80vw);
            transition: all 225ms cubic-bezier(0, 0, 0.2, 1);
            z-index: 99999;
            &.isOpened {
                transform: none;
            }
            .user-container {
                height: 64px;
                display: flex;
                align-items: center;
                justify-content: start;
                padding: 0 16px;
                border-bottom: 1px solid rgb(219, 219, 211);
                font-weight: 500;
                font-size: 18px;
            }
            .menuItem {
                height: 48px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                padding: 0 16px;
                cursor: pointer;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                }
            }
        }
    }

    .content {
        height: calc(100vh - 64px);
        background-color: #f5f5f5;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
}
