.home-container {
    padding: 0 20px;
    .categories-container {
        .label {
            line-height: 24px;
            font-size: 16px;
            padding: 10px 0;
            text-align: start;
        }
    }
    .expenses-container {
        .label {
            line-height: 24px;
            font-size: 16px;
            padding: 10px 0;
            text-align: start;
        }
    }
    .add-expense-btn {
        width: 64px;
        height: 64px;
        .ant-float-btn-icon {
            width: auto!important;
            font-size: 32px!important;
        }

    }
}